[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
django-crispy-forms = "*"
django-registration = "*"

[dev-packages]

[requires]
python_version = "3.7"
