{% extends "blog/base.html" %}
{% block content %}
<head>
	{% if title %}
		<title>{{ post.title }}</title>
	{% else %}
		<title>Interviews</title>
	{% endif %}
</head>

<div class="card parent-card">
  <!-- Card content -->
  <h2 class="card-header">Internship</h2>
  {% if internships %}
      <div style="overflow-y: scroll; max-height:290px;">
        {% for internship in internships %}
            <div class="card child-card">
              <div class="card-body" style="margin: 10px;">
                <a href="{{ internship.form_link }}" target="_blank" class="btn btn-primary" style="float:right;">Form <i class="fa fa-file-text-o"></i></a>
                <h3 class="card-title" style="display:inline;">{{ internship.company_name }}</h3>
                {% if internship.status == 'OPEN' %}
                    <h4 style="display:inline;"><span class="label label-success">{{ internship.get_status_display }}</span></h4>
                {% else %}
                    <h4 style="display:inline;"><span class="label label-danger">{{ internship.get_status_display }}</span></h4>
                {% endif %}
                <h5 class="card-text"><strong>Departments open to:</strong>
                  {% for department in internship.department.all %}
                      {% if forloop.last %}
                          {{ department }}
                      {% else %}
                          {{ department }},
                      {% endif %}
                  {% endfor %}
                </h5>
                <h5 class="card-text"><strong>Job Designation:</strong>&nbsp;{{ internship.job_designation }}</h5>
                <a href="{% url 'internship' internship_id=internship.id %}"><u>More here</u></a>
              </div>
            </div>
        {% endfor %}
      </div>
  {% else %}
      <div class="card-body" style="margin: 10px;">
        <h4 class="card-title">No internships available at the moment.</h4>
      </div>
  {% endif %}
</div>

<div class="card parent-card" style="margin-top: 30px;">
  <!-- Card content -->
  <h2 class="card-header">Placement</h2>
  {% if placements %}
      <div  style="overflow-y: scroll; max-height: 240px;">
        {% for placement in placements %}
            <div class="card child-card">
              <div class="card-body" style="margin: 10px;">
                <a href="{{ placement.form_link }}" target="_blank" class="btn btn-primary" style="float:right;">Form <i class="fa fa-file-text-o"></i></a>
                <h3 class="card-title" style="display:inline;">{{ placement.company_name }}</h3>
                {% if placement.status == 'OPEN' %}
                    <h4 style="display:inline;"><span class="label label-success">{{ placement.get_status_display }}</span></h4>
                {% else %}
                    <h4 style="display:inline;"><span class="label label-danger">{{ placement.get_status_display }}</span></h4>
                {% endif %}
                <h5 class="card-text"><strong>Departments open to:</strong>
                  {% for department in placement.department.all %}
                      {% if forloop.last %}
                          {{ department }}
                      {% else %}
                          {{ department }},
                      {% endif %}
                  {% endfor %}
                </h5>
                <a href="{% url 'placement' placement_id=placement.id %}"><u>More here</u></a>
              </div>
            </div>
        {% endfor %}
      </div>
  {% else %}
      <div class="card-body" style="margin: 10px;">
        <h4 class="card-title">No placements available at the moment.</h4>
      </div>
  {% endif %}
</div>

{% endblock content %}
