/* No need to include this file on the template, it's only for development */
/* This is just the indented version that is included minified in the template */
html, body{
    height: 99%;
}
body {
    background-color: #030b16;
    background-image: url('https://i.imgur.com/gZ9lAIf.png');
    background-position: center center;
    background-size: 130%;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}
.content {
    width: 100%;
}
.content td {
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .content {
        height: 95%;
    }
    .content td {
        display: table-cell;
        width: 50%;
    }
}
h1 {
    font-weight: 700;
    font-size: 84px;
    margin:0;
}
h2 {
    font-weight: 300;
    font-size: 24px;
    margin:0;
}
p {
    font-weight: 200;
    font-size: 18px;
    margin: 15px auto 0;
    max-width: 420px;
}
.button {
    color: white;
    text-decoration: none;
    padding: 6px 28px;
    border: 2px solid white;
    display: inline-block;
    font-size: 75%;
    margin-top: 20px;
    background: none;
    transition: all 0.3s ease;
}
.button:hover{
    color: #030b16;
    background: white;
}
.bode {
    max-width: 90%;
}
@media (min-width: 768px) {
    .bode {
        max-width: 70%;
    }
}
@media (min-width: 992px) {
    .bode {
        max-width: 40%;
    }
}
.poweredby {
    font-weight: 200;
    text-align: center;
    margin: 20px 0;
}
@media (min-width: 768px) {
    .poweredby {
        position: fixed;
        right: 10px;
        bottom: 10px;
        margin: 0;
    }
}
.poweredby img {
    max-height: 32px;
    vertical-align: middle;
    margin-top: -7px;
    margin-left: 8px;
}