{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Tab icon -->
	<link rel="SHORTCUT ICON" href="{% static 'blog/images/dgpicon.png' %}" type="image/png" />

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- local css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

	{% if title %}
		<title> {{ post.title}}</title>
	{% else %}
		<title> Blog Home</title>
	{% endif %}
</head>
<body>

	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	      <div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarToggle">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="{% url 'blog-about' %}">
				  <span>
					  <img class="" src="{% static 'blog/images/dgpicon.png' %}" type="image/png" height="28" width="28">
					  Student Portal
				  </span>
			  </a>
		  </div>
	      <div class="collapse navbar-collapse" id="navbarToggle">
			  <ul class="nav navbar-nav navbar-right">
				  {% if user.is_authenticated %}
				  	<li><a href="{% url 'blog-home'  %}">Home</a></li>
				  	<li><a href="{% url 'notice-home' %}">Notice Board</a></li>
				  	<li><a href="/study">Study Zone</a></li>
				  	<li><a href="/interviews">Placement/Internships</a></li>
				  	<li><a href="{% url 'profile' %}">Profile</a></li>
	        	  	<li><a href="{% url 'logout' %}">Logout</a></li>
				  {% else %}
		          	<li><a href="{% url 'login'%}">Login</a></li>
		          	<li><a href="{% url 'register'%}">Register</a></li>
				  {% endif %}
			  </ul>
		  </div>
	    </div>
	  </nav>

	<br><br><br><br><br>
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      {% if messages %}
	      	{% for message in messages %}
	      		<div class="alert alert-{{ message.tags }}">
	      			{{ message}}
	      		</div>
	      	{% endfor %}
	      {% endif %}
	      {% block content %}{% endblock %}
	    </div>
	    <div class="col-md-4">
	      <div class="content-section">
	        <!--<h3>##To be decided</h3> -->
	        <!--<p class='text-muted'>You can put any information here you'd like. -->
	        <p>
	          <ul class="list-group">
	            <li class="list-group-item list-group-item-light"><a href="https://raw.githubusercontent.com/NIT-DGPortal/portal-files/master/Academic-Calendar.pdf" target ="_blank">Academic Calendar</a></li>
	            <li class="list-group-item list-group-item-light"><a href="https://raw.githubusercontent.com/NIT-DGPortal/portal-files/master/Institute-Holidays.pdf" target = "_blank">Holidays</a></li>
              <li class="list-group-item list-group-item-light"><a href="http://172.16.24.9:9001/default.aspx" target ="_blank">Chanakya Portal</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{% url 'blog-contact' %}">Contacts</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{% url 'blog-contributor' %}">Contributors</a></li>
	          </ul>
	        </p>
	      </div>
	    </div>
	  </div>
	</main>
	<br><br><br>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Footer -->
      <div class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <p class="navbar-text pull-left">Crafted with <span class="glyphicon glyphicon-heart"></span> by <a href="https://github.com/r3trd">r3trd</a> & <a href="https://github.com/monsij">monsij</a></p>
            <a href="https://github.com/monsij/StudentPortal" class="navbar-btn btn-danger btn pull-right">
            <span class="glyphicon glyphicon-star"></span>  Give us a star on Github</a>
          </div>
	  </div>
    <!-- Footer -->
</body>
</html>
