{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	<h1> Contributors </h1>
	<br>

<div class="row text-center">
	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/monsij.jpeg' %}" width="400" height="300">
			<p><strong>Monsij Biswal</strong></p>
			<p><i>Owner</i></p>
			<a href="https://github.com/monsij"><button class="btn">@monsij</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/harry-hov.jpeg' %}" width="400" height="300">
			<p><strong>Hariom Verma</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/harry-hov"><button class="btn">@harry-hov</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/gutsytechster.jpeg' %}" width="400" height="300">
			<p><strong>Prashant Sharma</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/gutsytechster"><button class="btn">@gutsytechster</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/r3trd.jpeg' %}" width="400" height="300">
			<p><strong>Satyajit Das</strong></p>
			<p><i>Owner</i></p>
			<a href="https://github.com/r3trd"><button class="btn">@r3trd</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/gopavasanth.jpeg' %}" width="400" height="300">
			<p><strong>Gopa Vasanth</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/gopavasanth"><button class="btn">@gopavasanth</button></a>
		</div>
	</div>
</div>


{% endblock content %}
