{% extends "blog/base.html" %}
{% block content %}

<head>
	{% if title %}
	<title>{{ post.title }}</title>
	{% else %}
	<title>StudentPortal:Contacts</title>
	{% endif %}
</head>
<h1> Contacts </h1>
<article class="media content-section">
	<div class="media-body">
		<h2><a class="article-title" href="#">Essentials</a></h2>
		<p class="article-content">Medical Unit - 3432759111</p>
		<p class="article-content">Newspaper - 9679904306</p>
		<p class="article-content">Proxy - 172.16.1.09/10/11/12 <br> Port - 3128</p>
	</div>
</article>
<article class="media content-section">
	<div class="media-body">
		<h2><a class="article-title" href="#">Food</a></h2>
		<p class="article-content">Chayanika - 9855632145</p>
		<p class="article-content">Hall 5 Canteen - 8972746550</p>
		<p class="article-content">Roy Restaurant - 9983033560</p>
	</div>
</article>
<article class="media content-section">
	<div class="media-body">
		<h2><a class="article-title" href="#">Maintenance Section</a></h2>
		<p class="article-content">Civil - 9855632145</p>
		<p class="article-content">Electrical - 9983033560</p>
	</div>
</article>

{% endblock content %}