{% extends "blog/base.html" %}
{% block content %}
<head>
	{% if title %}
		<title>{{ post.title }}</title>
	{% else %}
		<title>StudentPortal:Contacts</title>
	{% endif %}
</head>
	<h1> Contacts </h1>
	<article class="media content-section">
		<div class="media-body">
			<h2><a class="article-title" href="#">Food</a></h2>
			<p class="article-content">Roy Restaurant - 9983033560</p>
			<p class="article-content">Chayanika - 9855632145</p>
		</div>
	</article>
	<article class="media content-section">
		<div class="media-body">
			<h2><a class="article-title" href="#">Maintenance Section</a></h2>
			<p class="article-content">Electrical - 9983033560</p>
			<p class="article-content">Civil - 9855632145</p>
		</div>
	</article>

{% endblock content %}
