{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	<h1> Contributors </h1>
	<br>

<div class="row text-center">
	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/monsij.jpeg' %}" width="400" height="300">
			<p><strong>Monsij Biswal</strong></p>
			<p><i>Owner</i></p>
			<a href="https://github.com/monsij" target="_blank"><button class="btn">@monsij</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/r3trd.jpeg' %}" width="400" height="300">
			<p><strong>Satyajit Das</strong></p>
			<p><i>Owner</i></p>
			<a href="https://github.com/r3trd" target="_blank"><button class="btn">@r3trd</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/harry-hov.jpeg' %}" width="400" height="300">
			<p><strong>Hariom Verma</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/harry-hov" target="_blank"><button class="btn">@harry-hov</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/Tiyas-13.jpeg' %}" width="400" height="300">
			<p><strong>Tiyas Dey</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/Tiyas-13" target="_blank"><button class="btn">@Tiyas-13</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/gutsytechster.jpeg' %}" width="400" height="300">
			<p><strong>Prashant Sharma</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/gutsytechster" target="_blank"><button class="btn">@gutsytechster</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/gopavasanth.jpeg' %}" width="400" height="300">
			<p><strong>Gopa Vasanth</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/gopavasanth" target="_blank"><button class="btn">@gopavasanth</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/BhanuPrakashNani.jpeg' %}" width="400" height="300">
			<p><strong>Bhanu Prakash Poluparthi</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/BhanuPrakashNani" target="_blank"><button class="btn">@BhanuPrakashNani</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/arpit3018.jpeg' %}" width="400" height="300">
			<p><strong>Arpit Agrawal</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/arpit3018" target="_blank"><button class="btn">@arpit3018</button></a>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="{% static 'blog/images/nguptaa.jpeg' %}" width="400" height="300">
			<p><strong>Nikhil Gupta</strong></p>
			<p><i>Contributor</i></p>
			<a href="https://github.com/nguptaa" target="_blank"><button class="btn">@nguptaa</button></a>
		</div>
	</div>
</div>


{% endblock content %}
