{% extends "blog/base.html" %}
{% block content %}
<head>
  {% if title %}
    <title>{{ post.title }}</title>
  {% else %}
    <title>StudentPortal:StudyZone</title>
  {% endif %}
</head>
  <h1> Departments </h1>
  <ul>
      <li> <a href = "year_1/">First Year</a></li>

      <li> <a href="cs/">Computer Science and Engineering</a></li>
      <li> <a href="ec/">Electronics and Communication Engineering</a></li>
      <li> <a href="ee/">Electrical Engineering</a></li>
      <li> <a href="mm/">Metallurgical and Materials Engineering</a></li>

      <li> <a href="bt/">Biotechnology</a></li>
      <li> <a href="it/">Information Technology</a></li>
      <li> <a href="ce/">Civil Engineering</a></li>
      <li> <a href="ch/">Chemical Engineering</a></li>
  </ul>
{% endblock content %}
