{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class = "content-section">
		<form method="POST">
			{%  csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Welcome to the System</legend>
				<p> Hello there, here are some general instructions to get you started:</p>
				<ul>
					<li> Login to gain access to the system</li>
					<li> If you do not have an account click on Sign Up below</li>
					<li> You are only permitted to register using your <b>Institute email address</b></li>
				</ul>

				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit"> Log In </button>

			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				New Here? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
			</small>
		</div>

	</div>
{% endblock content %}
