{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
	{% if title %}
		<title>{{ post.title }}</title>
	{% else %}
		<title>Student Portal</title>
	{% endif %}
</head>
	<div class = "content-section">
		<form method="POST">
			{%  csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Password Reset</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit"> Request Password </button>
			</div>
		</form>
	</div>
{% endblock content %}
